body{background:#00f}

html, body {
    margin:0;
    padding: 0;
    font-family: Arial, 'Open Sans';
    background: #eee;
    background-color: orange;
}

*{
    box-sizing: border-box;
}

main{
    display: grid;
    gap: .2rem;
    justify-content:flex-start;
    padding: .2rem;

    grid-template-columns: repeat(auto-fit, minmax(300px,1fr) );

    height: 50vh;

}

div{
    background-color:white;
    font-size: 2rem;
    display: grid;
    place-items: center;
}

@media (max-width:1200px){
    body{
        background-color: orange;
    }
    h1{
        font-size: 4rem;
    }
}

@media (max-width:800px){
    body{
        background-color: orangered;
    }
    h1.small{
        display: block;
    }
    h1.large{
        display: none;
    }
}