*, html {
  padding: 0;
  margin: 0; }

body {
  background: white; }

header {
  height: 30vh;
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  text-align: center; }

main {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  margin: 15rem; }

div {
  gap: 5rem; }

img {
  max-width: 300px; }

p {
  padding: 5rem; }
